@import url('./variables.css');

.primary-btn{
    /* width: 100%; */
    max-width: 200px;
    min-width: 100px;
    padding: 10px 25px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.primary-btn:hover{
    background-color: var(--primary-color-hover);
}

.secondary-btn{
    /* width: 100%; */
    max-width: 200px;
    min-width: 100px;
    padding: 10px 25px; 
    background-color: #FFFFFF;
    color: var(--primary-color); 
    font-size: 16px;
    font-weight: 600;
    border: 2px solid var(--primary-color);
    border-radius: 5px; 
    outline: none; 
    transition: background-color 0.3s, color 0.3s; 
    margin-top: 10px;
}

.secondary-btn:hover {
    color: #FFFFFF; 
    background-color: var(--primary-color); 
}

.btn{
    background-color: var(--white-color);
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer;
    text-align: center; 
    /* width: 100%; */
    max-width: 200px;
    min-width: 100px;
}

.btn:hover {
    background-color: var(--primary-color); 
    color: var(--white-color);
}

.small-btn{
    padding: 5px 10px !important; 
    font-size: 14px; 
    cursor: pointer;
    text-align: center; 
}