@import url('./variables.css');

.property-card {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    border-radius: 24px;
    padding: 10px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    max-width: 400px;
    margin: 20px;
}

.property-image img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.property-details {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.profile-details-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.property-info {
    font-size: 0.9rem;
    margin: 5px 0;
    color: var(--dark-grey-color);
    display: flex;
    flex-direction: row;
}

.property-info span{
    display: flex;
    align-content: center;
}

.property-info-img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.property-details h3 {
    margin: 0;
    font-size: 1.2rem;
}


.property-info span {
    margin-right: 10px;
}

.property-info p {
    margin: 5px 0;
}

.property-description {
    color: var(--dark-grey-color);
    font-size: 0.9rem;
    margin: 5px 0;
    line-height: 1.4;
}







.property-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.property-actions a {
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--primary-color);
    margin-right: 10px;
}

.property-actions .edit-btn, .property-actions .delete-btn {
    font-size: 1.2rem;
    color: #ccc;
    cursor: pointer;
}

.property-actions .edit-btn:hover {
    color: #4CAF50;
}

.property-actions .delete-btn:hover {
    color: #F44336;
}
