@import url("./variables.css");

.header {
  width: 100%;
  height: 60px;
  background-color: var(--background-color-home);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/* Element: navbar within header */
.header__navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color-home);
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
  padding: 1rem 2rem;
}

.header__menu__group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.header__menu__icon {
  display: none;
}

.header__logo {
  width: 140px;
  align-items: center;
}

/* Menu styles */
.header__menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
}

.header__menu-item {
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.2rem;
  font-weight: 550;
  transition: color 0.3s;
}

.header__menu-item:hover {
  color: var(--primary-color);
}

.header__link {
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s;
}

.header__link:hover {
  color: var(--primary-color);
}

/* Sign-up button style */
.header__button {
  border: 2px solid var(--black-color);
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  padding: 0.6rem;
  background-color: var(--primary-color-light);
  color: var(--black-color);
  cursor: pointer;
  z-index: 10;
  transition: transform 0.4s ease all, background-color 0.3s;
}

.header__button:hover {
  transform: scale(1.03);
  background-color: var(--primary-color);
  text-align: center;
}

/* Mobile View */
@media screen and (max-width: 8000px) {
  .header__menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 2rem;
    text-align: center;
    list-style: none;
    flex-direction: column;
    background-color: var(--background-color-home);
    transition: 0.5s;
    z-index: -1;
    overflow: hidden;
    transform: translateY(-100%);
    opacity: 0;
    transition: tranform 0.5s easy, opacity 0.5s easy;
  }

  .header__menu .open {
    gap: 0px;
    transform: translateY(0); /* Slide down when open */
    opacity: 1;
    z-index: 1;
  }

  .header__menu__icon {
    display: block;
  }

  .header__menu-item {
    padding: 1rem 0;
    color: var(--black-color);
  }

}
