@import url('./variables.css');
@import url('./Button.css');

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Block: html */
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* Block: body */
body {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: var(--background-color-home);
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

section {
    scroll-snap-align: center;
    width: inherit; 
    height: 100%;
    margin: 0;    
    padding: 0;  
    overflow: hidden; 
    box-sizing: border-box; /* Include padding and border in the width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:  var(--background-color-home);
    height: calc(100vh - 60px); /* Adjust based on the height of your fixed navbar */
}


.main-content {
    background-color: var(--background-color);
    
}

.main {
    margin-top: 60px;
    flex: 1;
    width: 100%;
    padding-top: 60px; /* Adjust based on the height of your fixed navbar */
}

.section--hero {
    padding-top: 60px; /* Adjust based on the height of your fixed navbar */
    width: 96vw; 
    height: calc(100vh - 60px); /* Full viewport height minus navbar height */
    margin: 60px 0 0 0;
    padding: 10px;
    background-size: fill; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
}

.hero__button {
    border: 2px solid var(--black-color);
    border-radius: 50px;
    font-weight: 700;
    font-size: 18px;
    padding: 0.6rem;
    background-color: var(--primary-color-light);
    color: var(--black-color);
    cursor: pointer;
    transition: transform 0.4s ease all, background-color 0.3s;
  }

  .hero__button:hover {
    transform: scale(1.03);
    background-color: var(--background-color-home);
    text-align: center;
  }
  

  .section--hero_bg{
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    width: 100%;
    height: 100%;
    border-radius: 40px; /* Rounded corners */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-size: cover; /* Ensure the background covers the section */
    background-position: center center; /* Center the background image */
    display: flex;
    flex-direction: row;
    align-items: end;
}

.hero__text{
    width: 70vw;
    text-align: left;
    color: var(--white-color);
    font-weight: 100px;
    font-size: 1.25rem;
}

.hero__button{
    min-width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 15px;
} 

.hero__button__img{
    width: 40px;
    height: 30px;
    margin-left: 10px;
}