.filter-container-flex-start{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
    color: var(--dark-grey-color);
    padding-left: 20px;
}

.width-100{
    width: 150px;
    gap: 10px;
}

.input-label-aligend{
    font-size: 12px;
    font-weight: 300;
    color: var(--dark-grey-color);
    display: block;
    text-align: left;
    width: 150px;
}
