.repair-card {
  display: flex;
  flex-direction: row;
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  width: 90%;
}

.repair-left-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.repair-right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 20%;
  overflow: hidden;
  box-sizing: border-box;
  border-left: 1px solid var(--background-color);
}

.detail-fields {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  /* margin: 10px; */
}

.detail-fields-aligned{
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.details-labels-aligend{
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-grey-color);
  display: block;
  text-align: left;
  width: 150px;
}

.details-field-small {
  width: 100%;
  height: auto;
  padding: 5px;
  margin: 5px 0;
  font-size: 12px;
  font-weight: 600;
  /* color: var(--dark-grey-color); */
  color: var(--black-color);
  background-color: var(--background-color);
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  margin-right: 10px;
}

.approval-right-content button {
  margin: 0;
  width: 100%;
}

.approval-right-content .secondary-btn:hover {
  background-color: var(--red-color);
}

.repair-prop-img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;;
}

.repair-prop-img:hover {
  transform: scale(1.1); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  object-fit: cover;
}

.repair-card-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow effect */
  margin: 10px;
  padding: 20px;
  border: 1px solid #eaeaea; /* Light border around the card */
}

.repair-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repair-details {
  flex: 1;
}

.repair-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accept-btn, .decline-btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px; 
}

.accept-btn {
  background-color: #28a745;
  color: white;
}

.accept-btn:hover {
  background-color: #00ec33;
  color: rgb(62, 62, 62);
}

.decline-btn {
  background-color: #dc3545;
  color: white;
}

.decline-btn:hover {
  background-color: #ff0000;
  color: rgb(62, 62, 62);
}

