body {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #f5f7fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 90vh;
}

.signup-form {
    width: 500px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px 30px 0px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup-form__logo {
    width: 200px;
    height: auto;
    /* margin-bottom: 5px; */
}

.signup-form__welcome-text h3,
.signup-form__welcome-text h2,
.signup-form__welcome-text h4 {
    margin: 5px 0;
    color: #333;
}

.signup-form__welcome-text h4 {
    font-weight: 200;
}

.signup-form__label {
    font-size: 14px;
    color: #666;
    margin: 0px 0px -5px 10px;
    display: block;
    text-align: left;
}

.signup-form__input {
    width: 100%;
    padding: 12px;
    margin: 10px 0 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #f5f5fa;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.signup-form__input:focus {
    border-color: #FCA311;
    outline: none;
}

/* Name fields layout */
.signup-form__name-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 00px;
}

.signup-form__name-field {
    width: 48%;
}

.signup-form__password-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 00px;
}

.signup-form__name-fields input{
    color: #F5F5F5;
}

.signup-form__password-field {
    width: 48%;
}

.signup-form__submit-button {
    width: 100%;
    padding: 14px;
    background-color: #fba823;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-form__submit-button:hover {
    background-color: #ffc464;
}

/* Links */
.signup-form__forgot-password {
    display: block;
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 12px;
    text-align: right;
}

.signup-form__login-link {
    font-weight: bold;
    color: #3498db;
    text-decoration: none;
}

.signup-form__login-link:hover {
    color: #1d6fa5;
}

.social-login h4 {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.social-login__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 14px;
    background-color: #fba823;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.social-login__button:hover {
    background-color: #ffc464;
}

.social-login__button img {
    height: 20px;
    margin-top: -5px;
    width: auto;
}

.signup-form__existing-account h5 {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}
