@import url('./Button.css');
@import url('./variables.css');
@import url('./components.css');

body {
    background-color: var(--background-color);
}

.user_view-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background-color);
    font-family: 'Poppins', Arial, sans-serif;
}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1;
    width: 100%;
    padding: 10px;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
}

.header-line a img {
    cursor: pointer;
}

.content-section {
    display: flex;
    flex: 1;
    padding-top: 60px;
    background-color: val(--background-color);
}

.header-logo-png {
    width: 180px;
    height: 100%;
}

.header-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 30px;
}

.user_view-sidemenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    top: 60px;
    width: 250px;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
    padding: 15px 0;
}

.user_view-sidemenu button {
    width: 100%;
}

.user_view-sidemenu ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.user_view-sidemenu ul li {
    cursor: pointer;
    padding: 5px 0;
    text-align: center;
}

.user_view-menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    height: 10%;
    background-color: var(--white-color);
}

.user_view-menu-bar h2 {
    margin: 3px 10px;
    text-transform: uppercase;
    font-weight: 530;
    font-size: 1.5rem;
}

.user_view-menu-bar p {
    margin: 3px;
    padding-left: 5px;
    font-size: 0.9rem;
}

.multi-line-munu-bar p span {
    font-weight: bold;
    color: var(--dark-grey-color);
}

.left-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.flex-bar-space-between-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

.multi-line-menu-bar span {
    background-color: var(--background-color);
}

.user_view-content_section {
    flex: 1;
    margin-left: 250px;
    padding: 15px 0;
    overflow-y: auto;
    height: calc(100vh - 60px);
    /* overflow: hidden;
    box-sizing: border-box; */
}

.navigate-icons {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.small-icons {
    height: 24px;
    width: 24px;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.toggle-sidebar-btn {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .user_view-sidemenu {
        display: none;
        /* Hide sidebar on small screens */
    }

    .user_view-content_section {
        margin-left: 0;
        /* Full-width content section */
    }

    /* Optional: Add a button to toggle the sidebar on mobile */
    .toggle-sidebar-btn {
        display: block;
        position: fixed;
        top: 70px;
        left: 10px;
        z-index: 2;
        padding: 10px;
        background-color: var(--primary-color);
        color: var(--white-color);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}



/** Listing */
.listing {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100px;
    background-color: var(--background-color);
}




/** Profile page */
.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    align-items: center;
    justify-items: center;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.profile-edit-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px;
    background-color: var(--white-color);
    border-radius: 12px;
    box-shadow: var(--box-shadow);
}

.input-label {
    font-size: 14px;
    color: var(--dark-grey-color);
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 14px;
    border: 1px solid var(--input-border-color);
    background-color: var(--background-color);
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: var(--primary-color);
    outline: none;
}

.profile-edit-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background-clip: border-box;
    align-items: center;
    justify-content: center;
}

.profile-edit-form div {
    display: flex;
    justify-content: center;
}

.input-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    /* margin: 10px; */
}

.input-group-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
    border: 1px solid var(--primary-color);
}

.flex-bar {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    padding-right: 40px;
}

/** Property Listing */

.search-container {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: var(--box-shadow);
    width: 300px;
}

.search-input {
    border: none;
    outline: none;
    background: none;
    padding: 5px 10px;
    flex-grow: 1;
}

.search-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.search-btn img {
    width: 16px;
    height: 16px;
}

/* Styling for the add button */
.add-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.add-btn img {
    width: 24px;
    height: 24px;
}

/* Property Listing Grid Layout */
.property-listing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    gap: -10px;
    padding: 5px;
}

@media screen and (max-width: 768px) {
    .property-listing-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns */
    }
}

/* Pagination Styling */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.pagination button {
    background-color: transparent;
    /* Transparent background for image */
    border: none;
    /* Remove border */
    cursor: pointer;
    padding: 10px 20px;
}

.pagination button img {
    width: 24px;
    /* Set the size of the image */
    height: 24px;
    /* Set the size of the image */
}

.pagination button:hover {
    filter: hue-rotate(35deg) saturate(3);
}

.pagination .current-page {
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}

.grey-text h2 {
    color: var(--dark-grey-color);
}